body {
    font-family: Arial, sans-serif;
    background: #f8f2ff;
    margin: 0;
}

.header {
    background: #6a0dad;
    color: white;
    padding: 15px;
    text-align: center;
}

.header nav a {
    color: #ffdfff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../migagenes/hero.jpg');
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.btn-principal {
    background: #9123f1;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}

.contenedor {
    padding: 20px;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #e5ccff;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.lista {
    background: white;
    padding: 15px;
    border-radius: 10px;
    list-style: none;
    border: 2px solid #e5ccff;
}

.lista li {
    padding: 10px;
    margin-bottom: 10px;
    background: #f3e6ff;
    border-radius: 5px;
    cursor: pointer;
}

.lista li.realizada {
    background: #d5ffd5;
    text-decoration: line-through;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}

.modal-contenido input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.btn-guardar {
    width: 100%;
    padding: 10px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cerrar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #b8b8b8;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
